.example-spacer {
    flex: 1 1 auto;
}

.issue-app-conataier-layout {
  margin: 0 auto;
  max-width: 980px;
  padding: 10px 20px;
}

.app-text {
  text-decoration: none;
  color: #fff;
}

mat-icon {
  color: #fff;
}
